body { 
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background: #f0f0f0;
 font-family: Arial, sans-serif;
}
.calculator {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}


#display {
    width: 95%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 22px;
    text-align: right;
    padding: 5px;
    background-color: aquamarine;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}


button {
    height: 45px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background: #ddd;
}


.equal {
    grid-row: span 2;
    background: #4CAF50;
    color: white;
}


.zero {
    grid-column: span 2;
}

